* {
    padding: 0;
    margin: auto;
    border: none;
}

.inline {
    display: inline-block;
}

.user-settings-img {
    height: 30%; 
    width: 30%;
    margin-bottom: 5%; 
    border-radius: 50%;
}

footer {
    background-color: black;
    margin-top: 5%;
    padding-top: 5%;
}

footer p {
    color: white;
    font-size: 10%;
}