* {
    padding: 0;
    margin: auto;
    border: none;
}

nav {
    margin-bottom: 20%;
}

nav i {
    font-size: 160%;
    color: rgb(81, 81, 81);
}

.inline {
    display: inline-block;
}

.user-settings-img {
    height: 30%; 
    width: 30%;
    margin-bottom: 5%; 
    border-radius: 50%;
}

footer {
    background-color: #f1f1f1;
    margin-top: 20%;
}

#footer-icon {
    padding-top: 2%;
}

.copyright {
    font-size: 140%;
    color: #fff;
    padding-bottom: 0.1%;
}

#copyright {
    font-size: 120%;
    color: #fff;
    padding-bottom: 0.1%;
}

#page-not-found-h1 {
    font-size: 1000%;
}

#page-not-found-h2 {
    font-size: 300%;
}

#home-button {
    font-size: 170%;
    border-radius: 25px;
    background-color:black;
    padding: 1%; 
}

#home-button:hover{
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.05);
}

#home-button a {
    text-decoration: none;
    color: #fff;
}