{% extends 'base.html' %}

{% block content %}

<div>
    <div class="register">
        <h1> Login</h1>
        <div>
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{message}}
              </div>
            {% endfor %}
        </div>

<!--Registration form-->
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text" name="username" placeholder="Username"
                class="register_input">
            </div>
              <div>
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" name="password" placeholder="Password"
                class="register_input">
              </div>
              <br>
              <button type="submit"
                class="login_btn">Login</button>
            <div>
                <p class="text-base"> Not Registered? <a href="/register"> Register </a></p>
            </div>
        </form>
    </div>
</div>

{% endblock content %}