{% extends 'base.html' %}

{% block content %}

<div class="container col-lg-9" style="margin: 10% 80% 30% 5%;">
  <img src="https://st.depositphotos.com/1000558/53737/v/450/depositphotos_537370102-stock-illustration-image-photo-sign-symbol-template.jpg" 
   alt="" class="user-settings-img">
    <h2>{{ user.username }}</h2>
    <button type="button" class="btn btn-primary inline" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Edit Profile
    </button>
  <br>
  <hr>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <form action="" method="POST">
            {% csrf_token %}
            <div>
              <label for="image" class="form-label">Profile Image:</label><br>
              <img src="{{ user_profile.images.url }}">
              <input type="file" name="image" id="image">
            </div>
              <div>
                <label for="fullname" class="form-label">Fullname:</label><br>
                <input type="text" class="form-control" id="fullname" value="{{ user_profile.fullname }}">
              </div>
              <div>
                <label for="email" class="form-label">Email address:</label><br>
                <input type="email" class="form-control" id="email" value="{{ user_profile.email }}" placeholder="hi">
              </div>
              <div>
                <label for="address" class="form-label">Address:</label><br>
                <input type="address" class="form-control" id="address" value="{{ user_profile.address }}">
              </div>
              <div>
                <label for="bio" class="form-label">Bio: <br>{{ user_profile.bio }}</label><br>
                <textarea class="form-control" name="bio" id="bio" rows="3"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock content %}